@using ContosoUniversity.App_Start

@{
    ViewBag.Title = "Home Page";

    const int logLineCount = 20;

    string[] sampleLogLines = null;
    string[] logFiles = null;

    string logFolder = Path.GetDirectoryName(Path.GetFullPath(LoggingConfig.LogFile));

    bool logFileExists = File.Exists(LoggingConfig.LogFile);
    bool logFolderExists = Directory.Exists(logFolder);

    if (logFileExists)
    {
        using (var logFileStream = new FileStream(LoggingConfig.LogFile, FileMode.Open, FileAccess.Read, FileShare.ReadWrite))
        {
            using (var reader = new StreamReader(logFileStream))
            {
                var lines = new List<string>();

                while (!reader.EndOfStream)
                {
                    lines.Add(reader.ReadLine());
                }

                if (lines.Count > logLineCount)
                {
                    sampleLogLines = lines.Skip(lines.Count - logLineCount).ToArray();
                }
                else
                {
                    sampleLogLines = lines.ToArray();
                }
            }
        }
    }

    if (logFolderExists)
    {
        logFiles = Directory.GetFiles(logFolder).Select(f => Path.GetFileName(f)).ToArray();
    }
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample application that
            demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from the Microsoft Code Gallery.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>General parameters</h2>
        <p>AppDomain: <strong>@HttpRuntime.AppDomainAppPath</strong></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Logging <small>(Set "logsFolder" in appSettings to relocate)</small></h2>
        <p>Log files at: <strong>@logFolder</strong></p>
        <ul>
            @if (logFolderExists)
            {
                foreach (var line in logFiles)
                {
                    <li>@line</li>
                }
            }
            else
            {
                <li><strong>LOG FOLDER DOES NOT EXIST</strong></li>
            }
        </ul>

        <p>LogFile: <strong>@LoggingConfig.LogFile</strong></p>
        <ul>
            @if (logFileExists)
            {
                foreach (var line in sampleLogLines)
                {
                    <li>@line</li>
                }
            }
            else
            {
                <li><strong>LOG FILE DOES NOT EXIST</strong></li>
            }
        </ul>
    </div>
</div>